<h1>詳細ページ</h1>

<h2>画像</h2>
<% if @recipe.image.attached? %>
  <%= image_tag @recipe.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<%= @recipe.title %>
<%= @recipe.body %>
<td>コメント数： <%= @recipe.recipe_comments.count %></td>

<!--% if @recipe.user == current_user %-->
    <!--%= link_to "編集", edit_user_recipe_path(@recipe.id) %-->
<!--% end %-->

<%= render "user/recipe_comments/index", recipe: @recipe %>
<%= render "user/recipe_comments/form", recipe: @recipe, recipe_comment: @recipe_comment %>
