<div class='main-container'>
	<div class='row'>
	  <div class='col-7 mt-4 ml-4 mb-4'>
	    <div class='col-12'>
  	    <h3><%= @recipe.user.name %>のレシピ「<%= @recipe.title %>」</br></h3>
  	  </div>
  	  <div class='col-4'>
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "200x200" %>
        <% end %>
      </div>
      <div class='col-7 mt-4'>
        <td>コメント数： <%= @recipe.recipe_comments.count %></br>
          <% if @recipe.favorited_by?(current_user) %>
              <%= link_to user_recipe_favorites_path(@recipe), method: :delete do %>
                <i class="fa-regular fa-thumbs-up" aria-hidden="true" style="color: red;"></i>

              <% end %>
              <%= @recipe.favorites.count %>
            <% else %>
              <%= link_to user_recipe_favorites_path(@recipe), method: :post do %>
                <i class="fa-regular fa-thumbs-up" aria-hidden="true" style="color: red;"></i>

              <% end %>
              <%= @recipe.favorites.count %>
          <% end %>
        </td></br>
        <td>
        <%= @recipe.created_at.strftime('%Y/%m/%d') %>
        </td>
      </div>
      <div class='col-12 mt-4'>
        <td>レシピ: <%= simple_format(@recipe.body, sanitize: true) %></td>
            <% if @recipe.user == current_user %>
                <%= link_to "編集", edit_user_recipe_path(@recipe.id) %>
            <% end %>
     </div>
     <div class='col-12 mt-4'>
           <%= render "user/recipe_comments/form", recipe: @recipe, recipe_comment: @recipe_comment %>
     </div>
    </div>

    <div class='col-4 mt-4'>
      <div class='row'>
        <div class='col-12'>
          <div class='comment'>
            <h3>コメント</h3>
            <%= render "user/recipe_comments/index", recipe: @recipe %>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
