<div class='main-container'>
	<div class='row'>
	  <div class='col-9 mt-4 ml-4 mb-4'>
      <h2>ユーザー一覧</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>Image</th>
            <th>name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                  <%= image_tag user.get_profile_image(50,50) %>
              </td>
              <td><%= link_to user.name, user_user_path(user.id) %></td>
              <td>
                <%= link_to user_user_followings_path(user) do %>
                  <p>フォロー<%= user.followings.count %></p>
                <% end %>
              </td>
              <td>
                <%= link_to  user_user_followers_path(user) do %>
                  <p>フォロワー<%= user.followers.count %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
</div>

